<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p [%c{3}] %m%n" />
    </layout>
  </appender>
  
  <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="target/app.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p [%c{3}] %m%n" />
    </layout>
  </appender>
  
  <appender name="async" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="1024"/> 
    <appender-ref ref="fileAppender"/>
  </appender>
  
  <!-- ================================================================================ -->
  <!-- Application logging properties...                                                    -->
  <!-- ================================================================================ -->
  <logger name="com.sctrcd">
    <level value="trace"/>
  </logger>

  <!-- ================================================================================ -->
  <!-- Spring logging properties...                                                    -->
  <!-- ================================================================================ -->
  <logger name="org.springframework">
    <level value="info" />
  </logger>

  <root>
    <priority value="info" />
    <appender-ref ref="stdout" />
    <appender-ref ref="async" />
  </root>

</log4j:configuration>
